@mixin flex-beetween($jutifyContent:space-between) {
    display: flex;
    justify-content: $jutifyContent;
    align-items: center;
}

.tableHeader {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 1.5rem;
    color: #2d49d3;
    cursor: pointer;
  }
}
.wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 1.5rem;
    color: #2d49d3;
    cursor: pointer;
  }
}


// .header {
//   width: 100%;
//   margin: 1rem 0 1rem 0;
//   @include flex-beetween;

//   .total {
//     display: flex;
//     justify-content: flex-start;

//     .number {
//       color: red;
//     }

//     .iconCollapse {
//         font-size:1.4rem;
//         margin-left: 1rem;
//         color: #1677ff;
//     }
//   }
// }
.header {
  margin: 1rem 0 1rem 1rem;

  .collapsed {
    margin-left: 1rem;
    color: red;
    cursor: pointer;
    transition: transform 0.3s ease-in-out
  }

}
.container{
  padding: 10px
}


.functions {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .icon {
    font-size: 1.5rem;
    color: #2d49d3;
    cursor: pointer;
  }
}
.wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 1.5rem;
    color: #2d49d3;
    cursor: pointer;
  }
}

.plateItem {
    text-align: center;
    font-weight: 500;
}
