.container {
  margin-left: 10px;
  padding: 30px;
  .header {
    font-size: 1.5rem;
  }
  .form {
    .sesson {
        display: flex;
        justify-content: center;
        .formItem {
            width: 100%;
            margin:1rem;

            .item {

            }
        }
    }
    .buttons {
        text-align: right;
    }
  }
}
.read_only_select {
  pointer-events: none; /* Vô hiệu hóa tất cả các sự kiện chuột */
  opacity: 1; /* Giảm độ mờ của component khi không tương tác */
}


.select {
  :global {
    height: 40px !important;

    .ant-select-selector {
      color: black;
      height: 35px !important;
      border: 1px solid #d9d9d9;
      border-radius: 5px !important;
      // padding: 5px !important;
      &:hover {
        border: 1px solid #d9d9d9 !important;
      }

      .ant-select-selection-item {
        height: 40px;
        display: flex;
        align-items: center;

        .ant-select-selection-item-content,
        .ant-select-selection-item-remove {
          display: flex;
          align-items: center;
        }
      }
    }

    .ant-select-arrow {
      color: #1677ff;
    }
  }
}

