.wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 1.5rem;
    color: #2d49d3;
    cursor: pointer;
  }
}

.menu {
  font-size: 1rem;
  margin: 1rem 1rem 1rem 1rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.header {
  margin: 1rem 0 1rem 1rem;
  color: #B5122E;

  .collapsed {
    margin-left: 1rem;
    color: red;
    cursor: pointer;
    transition: transform 0.3s ease-in-out
  }

}
.container {
  padding: 10px;
  overflow: hidden;
}