.ant-table-tbody > tr:nth-child(odd) {
    background-color: #f3f3f3; /* Thay đổi màu nền ở đây */
  }
  
  /* Áp dụng màu nền cho các hàng chẵn nếu bạn muốn */
  .ant-table-tbody > tr:nth-child(even) {
    background-color: #ffffff; /* Thay đổi màu nền ở đây */
  }
  .ant-table-wrapper .ant-table-thead >tr>td{
    background: #B5122E !important;
    color: #B5122E;
  }

  .ant-paginations-item{
    color: #B5122E; /* Đổi màu sắc thành màu đỏ (hoặc bất kỳ màu nào bạn muốn) */
  }
  .ant-pagination .ant-pagination-item-active{
    border-color: #B5122E !important;
  }
  .ant-pagination .ant-pagination-item-active a{
    color: #B5122E !important;
  }
  .ant-pagination .ant-pagination-options-quick-jumper input:hover{
    border-color: #B5122E;
  }
  .ant-pagination .ant-pagination-options-quick-jumper input:focus{
    border-color: #B5122E;
  }

  .css-dev-only-do-not-override-12upa3x .ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color:#B5122E;
    background-color: #B5122E;
  }

  .css-dev-only-do-not-override-12upa3x .ant-radio-wrapper .ant-radio-checked .ant-radio-inner:active {
    border-color: #B5122E !important;
  }

  .ant-menu .ant-menu-submenu-arrow{
    color: #B5122E;
  }
  .ant-tag-blue {
    color: #B5122E;
    background: white;
    border-color: #B5122E;
  }


 