.container {
  margin-left: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  .wrapperHeader {
    .header {
      font-size: 1.5rem;
    }
  }
  .form {
    padding: 10px;
  }
  .session2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      width: 400px;
      padding: 1rem;
      margin: 2rem;
      border: 1px solid #ccc;
      .cardHeader {
        display: flex;
        justify-content: flex-start;
        .img {
          width: 150px;
          height: 150px;
        }
      }
      .info {
        margin: 1rem 0 0 1rem;
        // padding: 10px;
        display: flex;
        flex-direction: column;
        span{
          padding: 3px;
        }
        .empty {
          color: red;
          font-size: 14px;
        }
      }
    }
  }
}
.read_only_select {
  pointer-events: none; /* Vô hiệu hóa tất cả các sự kiện chuột */
  opacity: 0.6; /* Giảm độ mờ của component khi không tương tác */
}

