.Wrapper {
  margin-left: 10px;
  padding: 30px;
  .table-title {
    margin-top: 16px;
    margin-bottom: 13px;
  }

  .table-title__total {
    margin-left: 8px;
  }

  .ant-form-item-has-error .ant-input {
    background-color: unset;
  }
}
.read_only_select {
  pointer-events: none; /* Vô hiệu hóa tất cả các sự kiện chuột */
  opacity: 1; /* Giảm độ mờ của component khi không tương tác */
}

.container {
  :global {
    height: max-content !important;

    .ant-select-selector {
      color: black;
      min-height: 40px !important;
      height: max-content !important;
      border: 1px solid #d9d9d9;
      border-radius: 5px !important;
      // padding: 5px !important;
      &:hover {
        border: 1px solid #d9d9d9 !important;
      }

      .ant-select-selection-item {
        height: 40px;
        display: flex;
        align-items: center;

        .ant-select-selection-item-content,
        .ant-select-selection-item-remove {
          display: flex;
          align-items: center;
        }
      }
    }

    .ant-select-arrow {
      color: #1677ff;
    }
  }
}

.tabs {
  :global {
    .ant-tabs-tab {
      color: #4bc0f7 !important;
      font-weight: 700;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #4bc0f7;
    }

    .ant-tabs-ink-bar {
      background: #4bc0f7 !important;
    }
  }
}

.tabPane {
  padding: 5px;
}

.uploadAvatar {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f9f9fb;
  margin: 0 !important;
  border: 1px solid #dedede;
  border-radius: "50%";
  padding: 5px;

  .title-upload {
    width: 100%;
    padding-left: 10px;

    span {
      color: #4bc0f7;
      font-weight: 600;
    }
  }
}

.uploadImage {
  border-radius: 10px;
  border: 1px solid #f9f9fb;

  // padding: 6px;
  &:hover {
    border: 1px solid #4bc0f7;

    .close-img-upload {
      display: block;
    }
  }

  .close-img-upload {
    display: none;
  }

  img {
    border-radius: 10px;
    width: 100%;
  }

  .cropped img {
    object-fit: contain;
    cursor: pointer;
  }

  .img-upload {
    height: 120px;
    padding: 2px;
    object-fit: contain;
    cursor: pointer;
  }
}
.containerUpload {
  background-color: #f9f9fb;
  margin: 0 !important;
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 5px;
  .title-upload {
    width: 100%;
    padding-left: 10px;
    span {
      color: #4bc0f7;
      font-weight: 600;
    }
  }
  height: 100%;
}

.rowUpload {
background-color: #f9f9fb;
display: flex;
// height: 140px;

overflow-x: auto;

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px #a3a3a3;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 1px !important;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #a3a3a3;
  -webkit-box-shadow: inset 0 0 2px #a3a3a3;
  width: 1px !important;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #a3a3a3;
  width: 1px !important;
}
}

.imageUploadContent {
  border-radius: 10px;
  border: 1px solid #f9f9fb;

  // padding: 6px;
  &:hover {
    border: 1px solid #4bc0f7;
    .close-img-upload {
      display: block;
    }
  }

  .close-img-upload {
    display: none;
  }

  img {
    border-radius: 10px;
    width: 100%;
  }

  .cropped img {
    height: 140px;
    width: 166px;
    object-fit: contain;
  }

  .img-upload {
    height: 120px;
    padding: 2px;
    object-fit: contain;
    cursor: pointer;
  }
}

.lazyLoadImg {
  height: 120px;
  width: 128px;

  padding: 2px;

  object-fit: contain;
  cursor: pointer;
}

.text {
  height: 40px;
  border-radius: 5px;
  background: unset;
  border-color: #d9d9d9;

  &:disabled {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.25);
  }
  &:focus {
    border: 1px solid #d9d9d9 !important;
    box-shadow: none;
  }

  &:hover {
    border: 1px solid #d9d9d9 !important;
  }
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner{
  background: red !important;
  border-color: red;
}

.radio {
  .ant-radio-inner {
    &:focus{
      background: red;
    }
    &:after {
      background-color: red;
    }
  }
  .ant-radio-disabled + span {
    color: rgba(0, 0, 0, 0.25);
  }
}

.textArea {
  min-height: 130px !important;
  border-radius: 5px;
  background-color: unset;
  border-color: #d9d9d9;
  &:disabled {
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.25);
  }
}

.footerRow {
  border: 1px solid #000;
  display: flex;
  flex: 50%;
}

.row {
  height: 100%;
  display: flex;
  padding: 5px;
  margin: 0 !important;
  // border: 1px solid #dedede;
  // border-radius: 5px;
  .title-upload {
    width: 100%;
    padding-left: 10px;

    span {
      color: #1677ff;
      font-weight: 600;
    }
  }
}

.column {
  padding: 0 15px;
}

.contentImg {
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    border: 1px solid #1677ff;

    .close-img-upload {
      display: block;
    }
  }

  .close-img-upload {
    display: none;
  }

  img {
    border-radius: 10px;
    width: 100%;
  }
}

.containerResult {
  // background-color: ${props => props.theme.background.second};
  padding: 10px;
  margin: 0 !important;
  // border: 1px solid #dedede;
  border-radius: 5px;
  min-height: 200px;
}

.datePicker {
  border-radius: 5px;
  height: 40px;
  width: auto;

  .ant-picker-input input {
    color: black;
    &:hover{
      color: red;
    }
  }

  .ant-picker-suffix {
    color: black;
  }
}

.treeSelect {
  .ant-select-selector {
    background-color: green !important;
    color: black;
    min-height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;

    &:hover {
      border: 1px solid #d9d9d9 !important;
    }

    .ant-select-selection-item {
      color: black;
      border: 1px solid #d9d9d9 !important;

      .ant-select-selection-item-remove {
        display: flex;
        align-items: center;
      }
    }
  }
}

.nameCam {
  color: black;
  font-size: 17px;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.showResult {
  color: #1677ff;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.date {
  color: black;
  font-size: 15px;
  padding: 15px 0;
  font-weight: 600;
}

.containerInfo {
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.scroll {
  width: 100%;
  display: flex;
  overflow-x: auto;

  ::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border: none;
  }

  ::-webkit-scrollbar-track {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 1px !important;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #a3a3a3;
  }
}

.carousel {
  .rec-arrow {
    &:disabled {
      visibility: hidden;
    }

    &:enabled {
      background: #fff;
      color: #000;
    }

    background: #fff;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}
