/* Keyframes cho animation */
@keyframes pulse-main {
  0% {
    transform: scale(1.5);
    opacity: 1;
  }

  50% {
    transform: scale(2);
    opacity: 0.5;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes pulse-outer {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse-middle {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

@keyframes pulse-inner {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse-innermost {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(0.25);
    opacity: 0.5;
  }

  100% {
    transform: scale(0.5);
    opacity: 1;
  }
}

.custom-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #00FF0A;
  animation: pulse-main 2s infinite;
}

.outer-circle {
  width: 80px;
  height: 80px;
  background: #00FF0A;
  border-radius: 50%;
  animation: pulse-outer 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-circle {
  width: 60px;
  height: 60px;
  background: #00FF0A;
  border-radius: 50%;
  animation: pulse-middle 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-circle {
  width: 40px;
  height: 40px;
  background: #00FF0A;
  border-radius: 50%;
  animation: pulse-inner 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innermost-circle {
  width: 20px;
  height: 20px;
  background: #00FF0A;
  border-radius: 50%;
  animation: pulse-innermost 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-custom-a {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 1px solid #00FF0A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0px 0px 5px #00FF0A;
}
.circle-custom-b {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 1px solid #00FF0A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0px 0px 5px #00FF0A;
}
.circle-custom-c {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #00FF0A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0px 0px 5px #00FF0A;
}
.circle-custom-d {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #00FF0A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0px 0px 5px #00FF0A;
}
.circle-custom-e {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #00FF0A;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 0px 0px 5px #00FF0A;
}
/* CSS */
.clockwise-rotate {
  position: relative;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #00FF0A;
  transform-origin: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 5px #00FF0A;
}

.clockwise-rotate::before {
  content: '';
  position: absolute;
  top: -25%;
  left: 35%;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 200px solid rgba(0, 255, 10, 0.5);; 
  /* background-color: transparent; */
  transform-origin: center bottom;
  animation: clockwise-rotation 5s infinite linear;
  /* box-shadow: 10px 0px 20px rgb(191, 255, 209); */
}

@keyframes clockwise-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}