.container {
    padding: 1rem;
    .wrapperHeader {
      .header {
        font-size: 1.5rem;
      }
    }
    .form {
      .session1 {
        display: flex;
        justify-content: space-between;
  
        .formItem {
          width: 100%;
          margin: 1rem;
  
          .item {
            width: 100%;
          }
        }
      }
      .session2 {
        .sessionHeader {
        }
        .user {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          .card {
            width: 400px;
            margin: 1rem;
            border: 1px solid #ccc;
            .cardHeader {
              display: flex;
              justify-content: flex-start;
  
              .img {
                width: 150px;
                height: 150px;
              }
            }
            .info {
              margin: 1rem 0 0 1rem;
              .empty {
                color: red;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  