.dropdown_select { 
    height: 40px;
    width: 100%;
    border: 1px solid rgb(212, 209, 209);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
  } 
   
  .dropdown { 
    width: 100%;
  } 
   
   
  .dropdown_menu { 
    top: 100%; 
    width: 100%;
    background-color: white; 
    border: 1px solid #ccc; 
  } 
   
  .search_bar { 
    padding: 10px;
    width: 100%;
    height: 30px;
  } 
   
  ul { 
    padding: 0; 
    margin: 0; 
  } 
   
  li { 
    padding: 10px; 
    cursor: pointer} 
.dropdown_content { 
    max-height: 200px; 
    width: 100%;
    overflow-y: auto; 
    }