.side {
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: hidden;
  img {
    border-radius: 15px;
  }
}

.items:hover {
  background-color: #f5f5f5;
}

.notificationContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  overflow: hidden;
}
.thread {
  min-width: 400px;
  overflow: hidden;
  padding-right: 10px;
}

.items {
  margin: 5px;
  border-radius: 10px;
  background-color: #d2cece;
  display: flex;
}
.avatarField {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
}

.textField {
  padding-right: 10px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  span {
    font-weight: bold;
  }
  p {
    white-space: nowrap;
    margin: 0;
  }
}
.avatar {
  border: 1px solid #6680dc;
}
.detailContainer {
  flex: 1;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #d2cece;
  border-radius: 15px;
  margin-top: 12px;
}
.infoField {
  display: flex;
  padding: 8px 0 10px;
  flex: 1;
}

.textDetailField {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 8px 0 20px;
  span {
    font-size: 15px;
    padding-bottom: 10px ;
  }
}
.nameField {
  display: flex;
  justify-content: space-between;
  p {
    margin-top: 0;
    font-size: 16px;
  }
}
.name {
  font-weight: bold;
}

.inputContainer {
  display: flex;
  overflow: scroll;
  width: 100%;
  max-width: 100%;
  padding-left: 14px;
  border: 1px grey solid;
  border-radius: 5px;
  color: black
}

.inputContainer input {
  width: 100%;
  min-width: 50%;
  border: none;
  border-radius: 5px;
  padding: 14px;
}

.tag {
  display: flex;
  align-items: center;
  margin: 7px 10px 7px 0;
  padding: 0 5px 0 10px;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: orange;
  white-space: nowrap;
  color: white;
}

.tag button {
  display: flex;
  padding: 6px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: white;
}

.searchTagContainer {
  display: flex;
  flex: 1;
  padding: 15px 0;
  align-items: baseline;
}

.total {
  display: flex;
  .icon {
    font-size: 30px;
  }
  span {
    font-size: 20px;
  }
  margin-right: 30px;
  justify-content: flex-start;
  align-items: baseline;
}

.form {
  display: flex;
  align-items: baseline;
  :global {
    .ant-form-item {
      margin-bottom: 0 !important;
    }
  }
}

.item {
  flex: 1;
}
.button {
  margin-left: 20px;
}

.collapsed {
  margin-left: 0.3rem;
  color: rgb(14, 69, 218);
  font-size: 1rem;
}
