.ant-tabs-nav {
    background: #101016;
    height: 40px !important;
}
.tabs-extra-demo-button {
    margin-right: 16px;
}

.ant-row-rtl .tabs-extra-demo-button {
    margin-right: 0;
    margin-left: 16px;
}
.ant-tabs-nav-list{
    padding-top: 2px;
    padding-bottom: 2px;
}
.ant-dropdown{
    padding-top: 0px;
}
.ant-layout-header{
    background: #25262B;
    color: #B4B4B4;
    padding-left: 5px;
    height: 40px;
    border: 1px solid #47484D;
}
.ant-layout-sider-children{
    background: #323539;
}
.ant-menu{
    background: #323539;
}
.ant-layout-sider-trigger{
    background: #323539 !important;
}
.ant-layout .ant-layout-sider{
    background-color: #323539;
}
.ant-menu-item{
    border-radius: 0 !important;
}
.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline{
    background: #323539;
}