@mixin flex-beetween($jutifyContent: space-between) {
  display: flex;
  justify-content: $jutifyContent;
  align-items: center;
}

.tableHeader {
  text-align: center;
}

.header {
  margin: 1rem 0 1rem 1rem;
  color: #B5122E;

  .collapsed {
    margin-left: 1rem;
    color: red;
    cursor: pointer;
    transition: transform 0.3s ease-in-out
  }

}

.functions {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    font-size: 1.5rem;
    color: #2d49d3;
    cursor: pointer;
  }
}

.plateItem {
  text-align: center;
  font-weight: 500;
}

.container{
  padding: 10px
}
